<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Salim Boujaddi</title>
        <meta name="description" content="Software Engineer.">
        <link
            href="{{get_url(path='styles/styles.css')}}"
            rel="stylesheet"
            type="text/css"
        />
        <meta name="google-site-verification" content="YggOR-eiSC6A91nd7HaIIMSTNhzw211ikEvqGWqks6o" />
    </head>

    <body class="text-lg text-black/85 overflow-x-hidden">
        <section>
            <div class="overflow-x-hidden">
                {% block content %} {% endblock content %} 
            </div>
        </section>
    </body>
</html>
