{% extends "base.html" %} {% block content %}
<div class="px-4 sm:px-8 md:px-16 lg:px-24 xl:px-48 2xl:px-96 pt-20 pb-16 flex flex-col gap-8 w-full max-w-full overflow-hidden">
    <a href="/"><h1 class="text-5xl font-bold">Salim Boujaddi</h1></a>
    <div class="flex flex-col lg:flex-row gap-12 xl:gap-24">
        <div class="flex flex-col gap-4 min-w-0">
            <p class="break-words">
                Software Engineer graduated from Sorbonne University. Member of
                <a href="https://eurotech-federation.com/"
                    >EuroTech Federation</a
                >
                and
                <a href="https://www.anomalie.space/"
                    >Anomalie.space (Chapter 1)</a
                >. I'm a
                <a href="https://en.wikipedia.org/wiki/Hackathon">Hackathon</a>
                participant (<a href="https://github.com/imbjdd"
                    >9 Hackathon wins</a
                >) and <a href="https://hackthefork.com/">organizer</a>.
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">About Me</h2>
        <div class="flex flex-col gap-4 min-w-0">
            <p>I started playing <a href="https://worldofwarcraft.com/">World of Warcraft</a> on a private server when I was 7, and got into programming at 10. I finished my baccalauréat at 16, did a preparatory class at <a href="https://louislegrand.fr/">Louis-le-Grand</a>, and later graduated from <a href="https://www.sorbonne-universite.fr/">Sorbonne University</a>. Those early experiences sparked my love for problem-solving and technology, which eventually led me to become a Software Engineer.</p>
            <p>I’m passionate about programming, mathematics, and tackling complex problems. I also enjoy playing chess: send me a message if you want to play! Beyond coding, I’m deeply interested in AI Safety and <a href="https://vitalik.eth.limo/general/2023/11/27/techno_optimism.html">d/acc</a>, as I believe technology has the potential to create one of the greatest positive impacts on the world, and I want to contribute to it.</p>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">Projects</h2>
        <p>In some projects, I only did minor contributions. They are marked with an asterisk (*).</p>
        {% set data = load_data(path="content/data/projects.csv") %}
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-2">
            {% for project in data.records -%}
            <div class="overflow-hidden">
                <a href="{{ project[1] }}" class="truncate block">{{ project[0] }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">Talks</h2>
        {% set data = load_data(path="content/data/talks.csv") %}
        <div class="grid grid-cols-1 gap-4">
            {% for talk in data.records -%}
            <div class="overflow-hidden">
                <p class="break-words">
                    <span class="font-semibold">{{ talk[0] }}</span>,
                    <a href="{{ talk[2] }}">{{ talk[1] }}</a>, {{ talk[3] }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">Articles</h2>
        {% set blog_section = get_section(path="blog/_index.md") %}
        <div class="grid grid-cols-1 lg:grid-cols-1 gap-4">
            {% for page in blog_section.pages | slice(end=5) %}
            <div class="overflow-hidden">
                <a href="{{ page.permalink | safe }}" class="block break-words">
                    <p class="break-words">
                        <span class="">{{ page.title }}</span>, {{
                        page.date | date(format="%B %d, %Y") }}
                    </p>
                </a>
            </div>
            {% endfor %}
        </div>
        <!--<div class="mt-2">
            <a
                href="{{ get_url(path='@/blog/_index.md') }}"
                class="text-blue-400 hover:text-blue-300"
                >View all articles</a
            >
            </div>-->
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">Hackathons</h2>
        <p>I really like Hackathons. Check out this <a>article</a> to understand why.</p>
        {% set data = load_data(path="content/data/hackathons.csv") %}
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for hackathon in data.records -%}
            <div class="overflow-hidden">
                <a href="{{ hackathon[1] }}" class="truncate block">{{ hackathon[0] }}
                    {% if
                hackathon[2] %}<span class="break-words">, {{ hackathon[2] }}</span>{% endif %}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-3xl font-bold break-words">Contact</h2>
        <div class="flex gap-4 flex-wrap">
            <div>
                <a href="https://www.linkedin.com/in/salim-boujaddi/"
                    >LinkedIn</a
                >
            </div>
            <div>
                <a href="https://github.com/imbjdd">GitHub</a>
            </div>
        </div>
    </div>  
</div>
{% endblock content %}
