{% extends "base.html" %} {% block content %}
<div class="w-svw overflow-x-hidden px-96 py-20 flex flex-col gap-16">
    <h1 class="text-4xl font-bold">Salim Boujaddi</h1>
    <div class="w-full flex gap-24">
        <div>
            <img
                src="/moi2.png"
                width="200"
                height="200"
                class="aspect-square object-cover rounded-2xl"
            />
        </div>
        <div class="flex flex-col gap-4">
            <p>
                ML Engineer graduated from Sorbonne University. I love to build
                projects. President of a university Chess Club.
            </p>
            <p>
                Member of
                <a href="https://eurotech-federation.com/"
                    >EuroTech Federation</a
                >
                and
                <a href="https://www.anomalie.space/"
                    >Anomalie.space (Chapter 1)</a
                >.
            </p>
            <p>
                I’m a
                <a href="https://en.wikipedia.org/wiki/Hackathon">Hackathon</a>
                participant (<a href="https://github.com/imbjdd"
                    >9 Hackathon wins</a
                >) and <a href="https://hackthefork.com/">organizer</a>.
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Projects</h2>
        {% set data = load_data(path="content/data/projects.csv") %}
        <div class="grid grid-cols-4 gap-4">
            {% for project in data.records -%}
            <div class="bg-neutral-800 rounded-lg px-2 pb-1">
                <a href="{{ project[1] }}">{{ project[0] }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Talks</h2>
        {% set data = load_data(path="content/data/talks.csv") %}
        <div class="grid grid-cols-1 gap-4">
            {% for talk in data.records -%}
            <div class="">
                <p>
                    <span class="font-semibold">{{ talk[0] }}</span>,
                    <a href="{{ talk[2] }}">{{ talk[1] }}</a>, {{ talk[3] }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Articles</h2>
        {% set blog_section = get_section(path="blog/_index.md") %}
        <div class="grid grid-cols-2 gap-4">
            {% for page in blog_section.pages | slice(end=5) %}
            <div class="">
                <a href="{{ page.permalink | safe }}" class="block w-fit">
                    <h3>
                        <span class="font-semibold">{{ page.title }}</span>, {{
                        page.date | date(format="%B %d, %Y") }}
                    </h3>
                </a>
            </div>
            {% endfor %}
        </div>
        <!--<div class="mt-2">
            <a
                href="{{ get_url(path='@/blog/_index.md') }}"
                class="text-blue-400 hover:text-blue-300"
                >View all articles</a
            >
            </div>-->
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Hackathons</h2>
        {% set data = load_data(path="content/data/hackathons.csv") %}
        <div class="grid grid-cols-3 gap-4">
            {% for hackathon in data.records -%}
            <div class="bg-neutral-800 rounded-lg px-2 pb-1">
                <a href="{{ hackathon[1] }}">{{ hackathon[0] }}</a>{% if
                hackathon[2] %}, {{ hackathon[2] }}{% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <h2 class="text-2xl font-bold">Links</h2>
        <div class="flex gap-4">
            <div class="">
                <a href="https://www.linkedin.com/in/salim-boujaddi/"
                    >LinkedIn</a
                >
            </div>
            <div class="">
                <a href="https://github.com/imbjdd">GitHub</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
