@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";



h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
}

p, li, blockquote, cite, strong, em, code, kbd, samp, pre, small, a {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
}

a {
    @apply border-b-2 border-b-black/85 border-dotted hover:text-blue-600 hover:border-b-blue-600 transition-colors w-fit;
}