@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";



h1, h2, h3, h4, h5, h6 {
    font-family: 'Crimson Text', serif;
    color: black;

}

p, li, blockquote, cite, strong, em, code, kbd, samp, pre, small, a {
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;
    font-weight: lighter;
}

a {
    @apply bg-yellow-200/60 hover:bg-yellow-300/80 transition-colors px-0.5 -mx-0.5;
    text-decoration: none;
}

a.link-plain {
    @apply bg-transparent hover:bg-transparent hover:text-blue-600 px-0 mx-0;
}